body {
    background: linear-gradient(to right, #00b09b, #96c93d);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h1 {
    margin-bottom: 30px;
}

form input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

button {
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    background-color: #28a745;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #218838;
}

  